<!DOCTYPE html>
<html>
<head>
	<title>Customer Home</title>
</head>
<body bgcolor="lightblue">
<u><h1 align=center bgolor='red'>Gift Shop Management System</h1></u>
	<center>
<h2 align=center style="color: red">Customer Home</h2>
&nbsp;&nbsp;&nbsp;<a href="{{url_for('index')}}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="">View Orders</a>&nbsp;&nbsp;&nbsp;
<a href="">Search Products</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('customerupdate')}}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('customer')}}">Logout</a>&nbsp;&nbsp;&nbsp;

<hr>

</center>
</body>
</html>