<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<style>
	a:hover{
		color: red;
	}
	a{
		text-decoration: none;
		font-size: 25px;
	}
	img
	{
		width: 500px;
		
	}
</style>
</head>
<body bgcolor="lightblue">
	
	<h1 align=center bgolor='red'>Gift Shop Management System</h1>
	<center>

&nbsp;&nbsp;&nbsp;<a href="{{url_for('index')}}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('about')}}">About</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('stockmanager')}}">StockManager</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('shopowner')}}">ShopOwner</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('customer')}}">Customer</a>&nbsp;&nbsp;&nbsp;
	<hr>
<img src="static/images/asdf.jfif">
</center>


</body>
</html>