<!DOCTYPE html>
<html>
<head>
	<title>Shop Owner Home</title>
</head>
<body bgcolor="lightblue">
<u><h1 align=center bgolor='red'>Gift Shop Management System</h1></u>
	<center>
<h2 align=center style="color: red">Shop Owner Home</h2>
&nbsp;&nbsp;&nbsp;<a href="{{url_for('index')}}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('viewstocks')}}">View Stock</a>&nbsp;&nbsp;&nbsp;
<a href="">Request for stock</a>&nbsp;&nbsp;&nbsp;
<a href="">View Orders</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('shopownerupdate')}}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('shopowner')}}">Logout</a>&nbsp;&nbsp;&nbsp;

<hr>

</center>
</body>
</html>