<!DOCTYPE html>
<html>
<head>
	<title>Stock Manager Home</title>
</head>
<body bgcolor="lightblue">
<u><h1 align=center bgolor='red'>Gift Shop Management System</h1></u>
	<center>
<h2 align=center style="color: red">Stock Manager Home</h2>
&nbsp;&nbsp;&nbsp;<a href="{{url_for('index')}}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('addstock')}}">Add Stock</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('viewstocks')}}">View Stock</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('viewrequests')}}">View Request</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('stockmanagerupdate')}}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('stockmanager')}}">Logout</a>&nbsp;&nbsp;&nbsp;

<hr>
{{message}}
</center>
</body>
</html>