<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Requests Stocks</title>
<style type="text/css">

table {
  border-collapse: collapse;
}

</style>
</head>
<body bgcolor="lightblue">
	
	<h1 align=center bgolor='red'>Stocks</h1>
	<center>
&nbsp;&nbsp;&nbsp;<a href="{{url_for('index')}}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('addstock')}}">Add Stock</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('viewstocks')}}">View Stock</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('viewrequests')}}">View Request</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('stockmanagerupdate')}}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('stockmanager')}}">Logout</a>&nbsp;&nbsp;&nbsp;
	
<br>
<br>
<h3 align="center"><u>View Requests</u></h3><br><br>

<table align="center" border="2">
<tr>
<th>Id</th>
<th>Gift Category</th>
<th>Gift Name</th>
<th>Gift Description</th>
<th>Cost</th>
<th>Quantity</th>
<th>Action</th>

</tr>

{% for row in rows %}
<tr>
<td>{{row[0]}}</td>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[3]}}</td>
<td>{{row[4]}}</td>
<td>{{row[5]}}</td>
<td><a href="updatereq/{{row[0]}}">Accept</a></td>
</tr>
{% endfor %}


</table>




</center>


</body>
</html>