<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body bgcolor="lightblue">
	
	<h1 align=center bgolor='red'>Home</h1>
	<center>

&nbsp;&nbsp;&nbsp;<a href="{{url_for('register')}}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('adduser')}}">AddUser</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('viewusers')}}">ViewUsers</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('deleteuser')}}">DeleteUser</a>&nbsp;&nbsp;&nbsp;
	<hr>

<br>
<br>
<h3 align="center"><u>View Users</u></h3><br><br>

<table align="center" border="2">
<tr>
<th>ID</th>
<th>NAME</th>
<th>EMAIL</th>
<th>PASSWORD</th>
<th>LOCATION</th>
<th>ACTION</th>
</tr>

{% for row in rows %}
<tr>
<td>{{row["id"]}}</td>
<td>{{row["name"]}}</td>
<td>{{row["email"]}}</td>
<td>{{row["password"]}}</td>
<td>{{row["location"]}}</td>
<td><a href="deleteuserbyid/{{row['id']}}">Delete</a></td>
</tr>
{% endfor %}


</table>




</center>


</body>
</html>